/*Caracteristicas del body*/
body {
  margin: 0px;
  width: auto;
}

/* Clean */
.clr{
  clear:both;
}

/* Clase de barra de menu */
.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Raleway;
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: right;
  padding: 20px;
  margin-left: 200px;
  padding-right: 250px;
  position: sticky;
  width: auto;
}

.navbar a {
  text-decoration:none;
  color: white;
  position: sticky;
}

/*Ordenar los elementos de navbar */
.navbar li {
  display: inline;
  padding: 2px 20px;
  padding-right: 30px;
  position: sticky;
}

/* Sombreado a las opciones */
.navbar a:hover {
  color: #f48c42;
  }

/* Navbar completa */
.bar {
  position: sticky;
}


/* Otros colores:
Amarillo: #c6c918; #dce006;
Azul:     #1836e0; */

/* Logo */
.logo {
  float: left;
  margin-left: 19px;
  height: 60px;
  position: sticky;
}

.logosquare {
  float: left;
  margin-left: 0px;
  height: 59px;
  width:  200px;
  position: sticky;
  background-color: black;
}

/* Imagenes de inicio */

img{
  max-width: auto;
  height: auto;
}

.imghome1{
  margin-left: 7%;
  float: left;
  display: inline-block;
  width:  260px;
  height: 400px;
}

.imghome2{
  float: left;
  display: inline-block;
  width:  260px;
  height: 400px;
}

.imghome3{
  float: left;
  display: inline-block;
  width:  260px;
  height: 400px;
}

.imghome3 img {
  width:  300px;
  height: 500px;
}

.imghome4{
  float: left;
  display: inline-block;
  margin-left: 3%;
  width:  260px;
  height: 400px;
}

.container{
  display: block;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #f2f4f7;
  height: 502px;
  width: auto;

}

/* Promociones*/
.promos {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-weight: bold;
}

.promos p{
	padding-top: 6px;
	text-align: center;
	margin-bottom: 0px;
}

.promos h2{
	margin-top: 0px;
}

.promletras{
	height: 60px;
	width: auto;
}

.promimagen{
  height: 400px;
  width: auto;
}

/* Footer */

#footer{
	font-family: 'News Cycle', sans-serif;
	font-size: 13px;
  background: #808080;
  color: #fff;
  padding: 4px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
  margin-top: 20px;
}
.linkCopy{
 font-weight: bold;
}

#footer a{
  text-decoration: none;
  color: #fff;
}

#prefooter{
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
  background: #333;
  color: #fff;
  padding: 30px;
}

#imginst{
  float:right;
  height: 27px;
  width: auto;
  display: block;
  margin-right: 500px;
}

#imgfb{
  float:right;
  height: 30px;
  width: auto;
  display: block;
}


#footer p{
    display: block;
    text-align: center;
 }

 .opfoot li{
	 margin-left: 400px;
	 list-style:none;
 }
